<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<table class="infobox" style="width:315px;border-spacing:2px;">
	<tbody><tr>
		<th colspan="2" style="text-align: center; font-size: large; padding-bottom: 0.3em;">An-124 Ruslan</th>
	</tr>
	<tr>
		<td colspan="2" style="text-align: center;">
			<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/52/An-124_RA-82028_09-May-2010.JPG/300px-An-124_RA-82028_09-May-2010.JPG" width="300" height="129" data-file-width="3000" data-file-height="1294">
		</td>
	</tr>
	<tr>
		<td colspan="2" style="border-bottom: 1px solid #aaa;text-align:center;">A <a href="/wiki/224th_Flight_Unit" title="224th Flight Unit" class="mw-redirect">224th Flight Unit</a> An-124 in <a href="/wiki/Moscow" title="Moscow">Moscow</a> (May 2010)</td>
	</tr>
	<tr>
		<th>Role</th>
		<td><a href="/wiki/Military_transport_aircraft" title="Military transport aircraft">Transport aircraft</a></td>
	</tr>
	<tr>
		<th><span class="nowrap">National origin</span></th>
		<td><a href="/wiki/Soviet_Union" title="Soviet Union">Soviet Union</a></td>
	</tr>
	<tr>
		<th>Manufacturer</th>
		<td><a href="/wiki/Antonov" title="Antonov">Antonov</a>, <a href="/wiki/Aviastar-SP" title="Aviastar-SP">Aviastar-SP</a></td>
	</tr>
	<tr>
		<th>First flight</th>
		<td>26 December 1982<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>1<span>]</span></a></sup></td>
	</tr>
	<tr>
		<th>Introduction</th>
		<td>1986</td>
	</tr>
	<tr>
		<th>Status</th>
		<td>In service</td>
	</tr>
	<tr>
		<th>Primary&nbsp;users</th>
			<a href="/wiki/Antonov_Airlines" title="Antonov Airlines">Antonov Airlines</a><br>
	</tr>
	<tr>
		<th>Produced</th>
		<td>1982–present</td>
	</tr>
	<tr>
		<th><span class="nowrap">Number built</span></th>
		<td>55<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>2<span>]</span></a></sup></td>
	</tr>
	<tr>
		<th><span class="nowrap">Unit cost</span></th>
		<td>
			<div>US$70–100&nbsp;million<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>3<span>]</span></a></sup></div>
		</td>
	</tr>
	<tr>
		<th><span class="nowrap">Developed into</span></th>
		<td><a href="/wiki/Antonov_An-225" title="Antonov An-225" class="mw-redirect">Antonov An-225</a></td>
	</tr>
	</tbody></table>
</body>