<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="thumb tleft">
	<div class="thumbinner" style="width:327px;">
			<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Global_sales_Tesla_Model_S_by_quarter.png/325px-Global_sales_Tesla_Model_S_by_quarter.png" width="325" height="226" class="thumbimage" data-file-width="1706" data-file-height="1186">
		<div class="thumbcaption">
			<div class="magnify">
			</div>
			Model S global sales by quarter (3Q 2012 to 3Q 2015)
		</div>
	</div>
</div>
</body>
</html>